Pandas/article-resources-master.zip
Scikit-learn/__pycache__/
~$Sklearn-UG.pptx
Sklearn-UG/Reviews.csv
Sklearn-UG/.vscode/.ropeproject/config.py
Sklearn-UG/Datasets/mnist-original.mat
~$Numpy.pptx
~$Scikit learn.pptx
X2604-K-11.png
~$Model selection.pptx
~$ML intro.pptx
Desk-LM/__pycache__/
Desk-LM/config/__pycache__/cfg_dataset.cpython-37.pyc
Desk-LM/config/__pycache__/
Desk-LM/out/ds_heart/include/dt/DT_params.h
Desk-LM/out/
Desk-LM/output/__pycache__/
Desk-LM/utils/__pycache__/
